---
interface Props {
    link: string;
    colorA: string;
    colorB: string;
}

const hexToRgba = (hex: string, alpha: number): string => {
    let r: number, g: number, b: number;

    r = parseInt(hex.substring(1, 3), 16);
    g = parseInt(hex.substring(3, 5), 16);
    b = parseInt(hex.substring(5, 7), 16);

    return `rgba(${r}, ${g}, ${b}, ${alpha})`;
};

const {link, colorA, colorB} = Astro.props as Props;
const bgColorA = hexToRgba(colorA, 0.1);
const bgColorB = hexToRgba(colorB, 0.1);
---
<div class="gradient-box">
    <a href={link}>
        <slot/>
    </a>
</div>

<style define:vars={{colorA, colorB, bgColorA, bgColorB}}>
    .gradient-box {
        display: inline-block;
        padding: 10px 0; /* Adjust padding */
        border-radius: 10px; /* Adjust border radius */
        position: relative;
        background: linear-gradient(to right, var(--bgColorA), var(--bgColorB));
        transition: translate 0.15s ease-in-out;
    }

    .gradient-box::before {
        content: "";
        position: absolute;
        inset: 0;
        padding: 2px; /* Border width */
        border-radius: 10px; /* Match the parent */
        background: linear-gradient(45deg, var(--colorA), var(--colorB));
        -webkit-mask: linear-gradient(45deg, #fff 0 0) content-box, linear-gradient(45deg, #fff 0 0);
        mask: linear-gradient(45deg, #fff 0 0) content-box, linear-gradient(45deg, #fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        pointer-events: none;
    }

    .gradient-box:hover {
        translate: 0 -2px; /* Adjust hover translation */
        animation: 2s infinite ease-out rotation;
    }

    @keyframes rotation {
        25% {
            rotate: 2deg;
            animation-timing-function: ease-in;
        }

        50% {
            rotate: 0deg;
            animation-timing-function: ease-out;
        }

        75% {
            rotate: -2deg;
            animation-timing-function: ease-in;
        }
    }

    .gradient-box a {
        font-size: 1.2rem; /* Adjust font size for mobile */
        font-weight: 350;
        padding: 8px 16px; /* Adjust padding for mobile */
        text-decoration: none;
        background: linear-gradient(45deg, var(--colorA), var(--colorB));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline-block;
        vertical-align: middle;
        line-height: 0.5; /* Adjust line height for better text wrapping */
    }
</style>